.footer-copyright{
    background-color: #212529;
    width: 100%;
}

.main-title{
    margin-bottom: 10rem;
}
.footer-copyright p{
    color: white;
}

.btn-dark{
    display: flex;
    width: 5rem;
}

footer{ 
    margin-top:15% ;
    width: 100%;
}

.div-login{
    margin-top: 18%;
}

.col-6{
    border: 1px solid black;
    margin-bottom: 5rem;
    margin-top: 3rem;
    margin-left: 10px;

}

.row{
    margin-left: 10px;
}