.footer-copyright{
    background-color: #212529;
    width: 100%;
    height: 100%;
    margin-top: 8rem;
}


.footer-copyright p{
    color: white;
}

.btn-dark{
    display: flex;
    width: 5rem;
}